.card {
    cursor: pointer;
    background-color: #191a21;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .description {
        display: flex;
        justify-content: space-between;
        
        .info {
            h3 {
                color: #5e5e5e;
            }

        }
    }

}